@font-face {
    font-family: 'Lovelace';
    src: local('Lovelace'),
        url('../fonts/lovelace/Lovelace-Medium.ttf') format('truetype'),
        url('../fonts/lovelace/Lovelace-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lovelace/Lovelace-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}